# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
local_plugin/ffmpeg_kit_flutter_full_gpl/ios/Frameworks/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.dart-tool/
.gradle-user-home/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/

# IDE相关
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Gradle缓存
**/.gradle/
**/build/
**/local.properties

# Flutter临时文件
**/ephemeral/

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log