# 使用官方 npm 源
registry=https://registry.npmjs.org/
# 设置独立的electron下载源
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true